<section class="invoice A4 {{id}}">
  <button *ngIf="buttonsVisible" mat-raised-button (click)="fullscreen()"><span>⎙</span>Lataa</button>
  <header>
    <h1>Lasku</h1>
    <address>
      <p>{{user.name}}</p>
      <p>{{user.address}}<br></p>
      <p>{{user.postalNumber}} {{user.city}}, {{user.country}}</p>
      <p>{{user.phoneNumber}}</p>
      <p>{{user.vatId}}</p>
    </address>
    <span>
      <img class="logo-img" alt="" src="/assets/logo.png">
    </span>
  </header>
  <article>
    <h1>Ihana asiakas</h1>
    <address>
      <p>{{customer.comppany}}<br />
        {{customer.contact[0].name}}<br />
        {{customer.address.address}}<br />
        {{customer.address.postalCode}} {{customer.address.city}}, {{customer.address.country}}<br />
        Y-tunnus: {{customer.vatId}}</p>
    </address>
    <table class="meta" cellpadding="0"  cellspacing="0">
      <tr>
        <th><span>Laskun numero #</span></th>
        <td><span>{{user.invoiceReferences[0].reference}}</span></td>
      </tr>
      <tr>
        <th><span>Päivämäärä</span></th>
        <td><span>{{invoice.dates.dueFinish}}</span></td>
      </tr>
      <tr>
        <th><span>Maksettava</span></th>
        <td><span id="prefix">€</span><span>{{invoice.due}}</span></td>
      </tr>
    </table>
    <table class="inventory" cellpadding="0"  cellspacing="0">
      <thead>
        <tr>
          <th><span>Projekti</span></th>
          <!--th><span>Kuvaus</span></th-->
          <th><span>Hinta</span></th>
          <th><span>Määrä</span></th>
          <th><span>Hinta(0%)</span></th>
          <th><span>Hinta(24%)</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td><span>{{row.item}}</span></td>
          <!--td><span>{{row.description}}</span></td-->
          <td><span data-prefix>€</span><span>{{row.rate}}</span></td>
          <td><span>{{row.quantity}}</span></td>
          <td><span data-prefix>€</span><span>{{row.price}}</span></td>
          <td><span data-prefix>€</span><span>{{row.priceWithVat}}</span></td>
        </tr>
      </tbody>
    </table>
    <table class="inventory balance" cellpadding="0"  cellspacing="0">
      <thead>
          <tr>
            <th><span>Yhteensä(0%)</span></th>
            <th><span>Yhteensä(24%)</span></th>
            <th><span>ALV 24%</span></th>
            <th><span>Maksettu määrä</span></th>
            <th><span>Maksettavaa</span></th>
            <th><span>Laskutus tasaus</span></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td><span data-prefix>€</span><span>{{invoice.price}}</span></td>
          <td><span data-prefix>€</span><span>{{invoice.fullPrice}}</span></td>
          <td><span data-prefix>€</span><span>{{invoice.vat}}</span></td>
          <td><span data-prefix>€</span><span>{{invoice.paid}}</span></td>
          <td><span data-prefix>€</span><span>{{invoice.due}}</span></td>
          <td><span data-prefix>€</span><span>{{invoice.overBilled}}</span></td>
        </tr>
      </tbody>
    </table>
    <section class="invoiceTable">
      <div class="row">
        <div class="receiver column-1">
          <span>Saaja</span>
          <span>tilinumero</span>
          <span>Mottagarens</span>
          <span>kontornummer</span>
        </div>
        <div class="iban column-2">
          <span class="title">IBAN</span>
          <div class="accounts" *ngFor="let bank of user.bankConnections">
            <span class="bank">{{bank.name}}:</span>
            <span class="sepa">{{bank.iban}}</span>
          </div>
        </div>
        <div class="bic column-3">
          <span class="title">Swift</span>
          <span class="bic">{{user.bankConnections[0].swift}}</span>
        </div>
      </div>
      <div class="row half">
        <div class="column-1">
          <span>Saaja</span>
          <span>Mottagare</span>
        </div>
        <div class="column-2">
          <span>{{user.name}}</span>
        </div>
        <div class="column-1">
          <span>Maksaja</span>
          <span>Mottagare</span>
        </div>
        <div class="column-2">
          <span>{{customer.comppany}} / {{customer.contact[0].name}}</span>
          <span>{{customer.address.address}}</span>
          <span>{{customer.address.postalCode}} {{customer.address.city}}, {{customer.address.country}}</span>
        </div>
        <div class="column-4">
          <span>Muista käyttää viitettä kun maksat laskun.</span>
          <section class="sepaQR">
            <header>SEPA QR</header>
            <img src="{{invoiceSepaQrUrl}}" alt="" />
          </section>
        </div>
      </div>
      <div class="row halfHeight">
        <div class="column-1">
          <span>Allekirjoitus</span>
          <span>Underskrift</span>
        </div>
        <div class="column-2 signature">
          <span>{{customer.contact[0].name}}</span>
        </div>
        <div class="column-3">
          <span>Viite no.</span>
          <span>Ref. nr.</span>
        </div>
        <div class="column-4">
          <span>{{user.invoiceReferences[0].reference}}</span>
        </div>
      </div>
      <div class="row halfHeightColumns6">
        <div class="column-1">
          <span>Tililtä nro.</span>
          <span>Från konto nr.</span>
        </div>
        <div class="column-2"></div>
        <div class="column-3">
          <span>Eräpäivä</span>
          <span>Förtallodag</span>
        </div>
        <div class="column-4">
          <span>{{invoice.dates.dueFinish}}</span>
        </div>
        <div class="column-5">
          <span>{{invoice.due}} &euro;</span>
        </div>
      </div>
    </section>
  </article>
  <section class="invoiceBottom">
      <canvas class="barcode"></canvas>
      <div class="invoiceRules">
        <p>Maksu välitetään saajalle maksujenvälityksen ehtojen mukaisesti ja vain makasajan ilmoittaman tilinumeron perusteella.</p>
        <p>Betalningen förmedias till mottagaren enligt villkoren för betalningsförmedling och endast till det kontornummer som betalaren angivit.</p>
      </div>
  </section>
  <aside>
    <h1><span>Lisätietoa</span></h1>
    <div>
      <p>14 päivän netto. Myöhästymismaksu on 5€/per/huomautus. Huomautukset lähetetään viikon välein.</p>
    </div>
  </aside>
</section>