/* reset */
$borderColor: #c7b9ff;
$textColor: black;
$tableHeaderColor: #FFF;
$tableHeaderTextColor: #8e8e8e;
$mainHeaderColor: darkgrey;
$borderWidth: 1px;
$borderStyle: solid;
$borderColod: #cecece;
$white: white;
section {
    &.invoice {
        width: 800px;
        margin: 40px auto;
        box-sizing: border-box; 
        overflow: hidden; 
        background: $white; 
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
        position: absolute;
        border:$borderWidth $borderStyle $borderColod;
        z-index: 5000;
        right: 16px;
        top: 33px;
        /** Paper sizes **/
        &.A3                { width: 297mm; height: 419mm }
        &.A3.landscape      { width: 420mm; height: 296mm }
        &.A4                { width: 210mm; height: 298mm }
        &.A4.landscape      { width: 297mm; height: 209mm }
        &.A5                { width: 148mm; height: 209mm }
        &.A5.landscape      { width: 210mm; height: 147mm }
        &.letter            { width: 216mm; height: 279mm }
        &.letter.landscape  { width: 280mm; height: 215mm }
        &.legal             { width: 216mm; height: 356mm }
        &.legal.landscape   { width: 357mm; height: 215mm }
        * {
            border: 0;
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
            vertical-align: top;
        }
        /* heading */
        > button {
            position: absolute;
            top: 0px;
            z-index: 51;
            &:first-child {
                left: 0;
            }
            &:nth-of-type(2) {
                right: 0;
            }
            span {
                display: block;
                float: left;
                padding: 0 5px;
            }
        }
        h1 { 
            font: bold 100% 'Source Sans Pro', sans-serif;
            text-align: center;
            color: #8c8c8c;
        }

        /* table */

        table { font-size: 75%; table-layout: fixed; width: 100%; }
        th, td {  position: relative; text-align: left; }
        th, td {
            border: none;
            margin: 0;
            color: $white;
            padding: 0;
            border-spacing: 0;
            border-radius: 0;
        }
        th { 
            background: $tableHeaderColor;
            color: $tableHeaderTextColor; }
        td { 
            background: transparent;
            color: $textColor;
        }
        table {
            &.meta {
                tr {
                    td {
                        text-align: left; 
                    }
                }
            }
            &.inventory {
                border-bottom: $borderWidth $borderStyle $borderColor;
                &.balance {
                    top: 539px;
                    border-bottom: none;
                }
                thead {
                    tr {
                        th {
                            font-weight: bold;
                            text-align: center;
                            line-height: 25px;
                            height: 25px;
                            border-width: $borderWidth;
                            border-style: $borderStyle;
                            border-color: $borderColor $white $borderColor $borderColor;
                            &:first-child {
                                border-color:$borderColor $white $borderColor $white;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            text-align: center;
                            border-bottom: $borderWidth $borderStyle $white;
                            border-top: $borderWidth $borderStyle $borderColor;
                            height: 25px;
                            line-height: 25px;
                            &:first-child {
                                td {
                                    padding-right: 10px;
                                }
                            }
                        }
                        &:first-child {
                            td {
                                border-top: none;
                            }
                        }
                    }
                }
            }
        }


        /* header */

        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 150px;
            color: $textColor;
            z-index: 50;
            border-bottom: $borderWidth $borderStyle $borderColor;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
        }
        header:after { clear: both; content: ""; display: table; }

        header h1 { 
            background: $white; 
            color: #8c8c8c;
            padding: 8px 0;
            border-bottom: $borderWidth $borderStyle $borderColor;
        }
        header address { 
            float: right;
            font-style: normal;
            line-height: 1.25;
            margin: 10px 20px;
            text-align: right;
            color: $textColor;
            font-size: 12px;
        }
        header address p { margin: 0 0 0.25em; }
        header span, 
        header img { display: block; float: right; }
        header span { 
            position: absolute;
            left: 10px;
            top: 29px;
            margin: 0;
        }
        header img { 
            max-height: 120px; 
            max-width: 100%; }
        header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

        /* article */
        article {
            position: absolute;
            top: 150px;
            width: 100%;
            left: 0;
            background: $white;
            height: 842px;
        }
        article, article address, table.meta, table.inventory { margin: 0 0 10px; }
        article:after { clear: both; content: ""; display: table; }
        article h1 {
            background: $white;
            height: 28px;
            color: #ababab;
            line-height: 28px;
            border-bottom: $borderWidth $borderStyle $borderColor;
        }

        article address { 
            position: absolute;
            left: -1px;
            top: 22px;
            width: 200px;
            height: 116px;
            font-size: 12px;
            line-height: 14px;
            color: $textColor;
            padding: 10px 10px;
            border-radius: 0 10px 10px 0;
        }

        /* table meta & balance */
        table.meta {
            position: absolute;
            top: 28px;
            right: 0;
            padding: 10px;
            border-right: none;
            background: transparent;
            width: 330px;
            border-radius: 10px 0 0 10px;
            tbody {
                tr {
                    &:nth-of-type(1) {
                        th {
                            border-radius: 10px 0 0 0;
                        }
                    }
                    &:nth-of-type(3) {
                        th {
                            border-radius: 0 0 0 10px;
                        }
                    }
                    th {
                        vertical-align: middle;
                        text-align: right;
                        padding: 0 10px;
                    }
                    td {
                        vertical-align: middle;
                        text-align: right;
                    }
                    &:nth-of-type(3) {
                        th, td {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        table.inventory {
            position: absolute;
            left: 0;
            top: 108px;
        }
        table.balance_ols {
            position: absolute;
            bottom: 258px;
            right: -23px;
            width: 300px;
            padding: 10px;
            height: 161px;
            border:$borderWidth $borderStyle $borderColod;
            border-radius: 10px 0 0 10px;
            tbody {
                tr {
                    th {
                        vertical-align: middle;
                        text-align: right;
                        padding-right: 10px;
                    }
                    td {
                        vertical-align: middle;
                    }
                    &:nth-of-type(5) {
                        th, td {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        table.meta, table.balance { float: right; }
        table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

        /* table meta */

        table.meta th { width: 40%; }
        table.meta td { width: 60%; }

        /* table items */

        table.inventory { clear: both; width: 100%; }
        table.inventory th { font-weight: bold; text-align: center; }

        table.inventory td:nth-child(1) { width: 26%; text-align: right !important; }
        table.inventory td:nth-child(2) { width: 38%; }
        table.inventory td:nth-child(3) { text-align: right; width: 12%; }
        table.inventory td:nth-child(4) { text-align: right; width: 12%; }
        table.inventory td:nth-child(5) { text-align: right; width: 12%; }

        /* table balance */

        table.balance th, table.balance td { width: 50%; }
        table.balance td { text-align: right; }

        /* aside */
        aside {
            position: absolute;
            bottom: 0px;
            color: $tableHeaderTextColor;
            text-align: center;
            left: 0;
            background: $tableHeaderColor;
            width: 100%;
            border-top:$borderWidth $borderStyle $borderColod;
        }
        aside h1 { 
            border-bottom:$borderWidth $borderStyle $borderColod;
            color: $tableHeaderTextColor;
        }
        aside div {
            height: 25px;
            line-height: 25px;
            font-size: 12px;
        }

        /* javascript */

        .add, .cut
        {
            border-width: 1px;
            display: block;
            font-size: .8rem;
            float: left;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }

        .add, .cut
        {
            background: #9AF;
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
            background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
            border-radius: 0.5em;
            border-color: #0076A3;
            color: $white;
            cursor: pointer;
            font-weight: bold;
            text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
        }

        .add { margin: -2.5em 0 0; }

        .add:hover { background: #00ADEE; }

        .cut {  }
        .cut { -webkit-transition: opacity 100ms ease-in; }

        tr:hover .cut { opacity: 1; }
        .sepaQR {
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
            float: left;
            background: $white;
            width: 120px;
            height: 140px;
            border: 1px solid #cecece;
            border-right: none;
            header {
                display: block;
                float: left;
                width: 100%;
                height: 20px;
                line-height: 20px;
                margin: 0;
                padding: 0;
                text-align: center;
                color: $textColor;
                font-size: 12px;
                box-shadow: none;
            }
            img {
                display: block;
                float: left;
                width: 100%;
                height: 138px;
                padding-top: 20px;
            }
        }
        section {
            &.invoiceTable {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: block;
                border-top: $borderWidth $borderStyle $borderColod;
                font-size: 10px;
                div {
                    &.row {
                        display: block;
                        float: left;
                        width: 100%;
                        height: 100px;
                        border-bottom: $borderWidth $borderStyle $borderColod;
                        &:nth-of-type(2) {
                            height: 100px;
                        }
                        &.halfHeightColumns6 {
                            height: 25px;
                            div {
                                &.column-5 {
                                    width: 141px;
                                    height: 100%;
                                    border-right: none;
                                    text-align: right;
                                    font-size: 14px;
                                    span {
                                        width: 100%;
                                        text-align: center;
                                        font-size: 15px;
                                        height: 100%;
                                        display: block;
                                        line-height: 15px;
                                    }
                                }
                                &.column-4 {
                                    width: 150px;
                                    height: 100%;
                                    border-right: $borderWidth $borderStyle $borderColod;
                                }
                                &.column-3 {
                                    width: 100px;
                                    height: 100%;
                                    padding: 0 5px;
                                    border-right: $borderWidth $borderStyle $borderColod;
                                    span {
                                        height: 12.5px;
                                        line-height: 12.5px;
                                    }
                                }
                                &.column-2 {
                                    height: 100%;
                                }
                                &.column-1 {
                                    height: 100%;
                                    padding: 0 5px;
                                    span {
                                        height: 12.5px;
                                        line-height: 12.5px;
                                    }
                                }
                            }
                        }
                        &.halfHeight {
                            height: 25px;
                            div {
                                &.column-5 {
                                    height: 100%;
                                }
                                &.column-4 {
                                    width: 291px;
                                    border-right: none;
                                    height: 100%;
                                }
                                &.column-3 {
                                    width: 100px;
                                    height: 100%;
                                    padding: 0 5px;
                                    border-right: $borderWidth $borderStyle $borderColod;
                                    span {
                                        height: 12.5px;
                                        line-height: 12.5px;
                                    }
                                }
                                &.column-2 {
                                    height: 100%;
                                    font-family: 'Dancing Script', cursive;
                                }
                                &.column-1 {
                                    height: 100%;
                                    padding: 0 5px;
                                    span {
                                        height: 12.5px;
                                        line-height: 12.5px;
                                    }
                                }
                            }
                        }
                        &.half {
                            position: relative;
                            div {
                                &.column-4 {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                }
                                &.column-2,
                                &.column-1 {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    height: 50px;
                                    border-bottom: $borderWidth $borderStyle $borderColod;
                                    &:nth-child(3),
                                    &:nth-child(4) {
                                        top: 50px;
                                    }
                                }
                                &.column-2 {
                                    top: 0;
                                    left: 100px;
                                    span {
                                        width: 100%;
                                        display: block;
                                        height: 12px;
                                    }
                                }
                            }           
                        }
                        div {
                            &.column-5,
                            &.column-4,
                            &.column-3,
                            &.column-2,
                            &.column-1 {
                                display: block;
                                float: left;
                                height: 100%;
                                border-right: $borderWidth $borderStyle $borderColod;
                                padding: 5px;
                            }
                            &.column-1 {
                                width: 100px;
                                span {
                                    display: block;
                                    float: left;
                                    width: 100%;
                                    height: 15px;
                                    line-height: 15px;
                                    text-align: right;
                                }
                            }
                            &.column-2 {
                                width: 300px;
                                div {
                                    display: block;
                                    float: left;
                                    width: 100%;
                                    span {
                                        display: block;
                                        float: left;
                                        &:first-child {
                                            width: 20%;
                                            padding: 0 5px;
                                            text-align: right;
                                        }
                                        &::nth-of-type(2) {
                                            width: 80%;
                                        }
                                    }
                                }
                            }
                            &.column-3 {
                                width: 391px;
                                border-right: none;
                                span {
                                    display: block;
                                    float: left;
                                    width: 100%;
                                }
                            }
                            &.column-4 {
                                width: 391px;
                                height: 100px;
                                span {
                                    display: block;
                                    float: left;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }  
            }
        }
        section {
            &.invoiceBottom {
                display: block;
                float: left;
                width: 100%;
                height: 80px;
                position: absolute;
                bottom: 52px;
                left: 0;
                background: $white;

                canvas.barcode {
                    position: absolute;
                    top: 9px;
                    left: 6px;
                    display: block;
                    float: left;
                    width: 420px;
                    height: 76px;
                    background-color: $white;
                }
                div {
                    &.invoiceRules {
                        position: absolute;
                        right: 0;
                        top: 15px;
                        width: 362px;
                        height: 60px;
                        font-size: 10px;
                        padding: 5px;
                        p {
                            line-height: 12px;
                        }
                    }
                }
            }
        }
    }
}

/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }



@media print {
    section {
        &.invoice {
            box-shadow: none; 
            margin: 0;
            * { 
                -webkit-print-color-adjust: exact;
            }
            span:empty { 
                display: none;
            }
            .add, .cut { 
                display: none;
            }
        }
    }
}

@page { margin: 0; }