

<mat-card class="card" *ngFor="let product of products">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
        <img mat-card-image width="200" src="{{product.image}}" alt="">
    </div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.kohdeCode}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image width="200" src="{{product.image}}" alt="">
  <mat-card-content>
    <h2>Hinta taulukko</h2>
    <table mat-table [dataSource]="product.table" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Pvm. </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Hinta </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} € </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="priceTable"></tr>
      <tr mat-row *matRowDef="let row; columns: priceTable;"></tr>
    </table>
    <br><br>
    {{product.description}}
  </mat-card-content>
</mat-card>