table {
    width: 100%;
}
mat-toolbar {
    width: 95%;
    margin: 10px 1% 10px 4%;
    position: absolute;
    top: -75px;
    left: 0;
    z-index: 50;
    transition: all 0.5s ease;
    &.open {
        top: 0;
        &:after {
            top: 64px;
        }
    }
    &:after {
        position: absolute;
        right: 20px;
        top: 64px;
        content: "|||";
        width: 40px;
        height: 40px;
        background: white;
        border: 1px solid black;
        text-align: center;
        line-height: 35px;
        border-radius: 0 0 10px 10px;
    }
    div {
        &.toolbar {
            margin: 0 20px;
        }
        &.shoppingCart {
            position: absolute;
            right: 10px;
            top: 0;
            display: block;
            float: right;
            width: 63px;
            height: 63px;
            border: 1px solid black;
            line-height: 63px;
            text-align: center;
            border-radius: 15% 35%;
            cursor: pointer;
            font-size: 42px;
            background: white;
            &.open {
                background: #6f6f6f;
                color: white;
                border-radius: 35% 15% 0 0;
            }
        }
    }
}
mat-list-item {
    
    div.mat-list-item-content {
        padding-left:25px;
    }
    span {
        &.icon {
            display: block;
            float: left;
            position: absolute;
            top: 20px;
            left: 0;
            font-size: 20px;
        }
    }
}

div {
    &.card-wrapper {
        mat-card {
            display: block;
            float: left;
            width: 23%;
            margin: 2% 0 2% 2%;
            position: relative;
            overflow: hidden;
            padding: 20px;
            &.base-pink {
                box-shadow: 0 0 10px palevioletred; 
                border-color: palevioletred;
            }
            &.base-grey {
                box-shadow: 0 0 10px #6f6f6f;
                border-color: #6f6f6f;
            }
            &.base-blue {
                box-shadow: 0 0 10px blue;
                border-color: blue;
            }
            &.base-wood {
                box-shadow: 0 0 10px burlywood;
                border-color: burlywood;
            }
            &.base-gold {
                box-shadow: 0 0 10px goldenrod;
                border-color: goldenrod;
            }

            @media only screen and (min-width: 320px) {
                width: 95%;
            }
            @media only screen and (min-width: 375px) {
                width: 95%;
            }
            @media only screen and (min-width: 768px) {
                width: 31%;
            }
            @media only screen and (min-width: 1024px) {
                width: 31%;
            }
            @media only screen and (min-width: 1025px) {
                width: 22.5%;
            }
            &.full-width {
                width: 92%;
            }
            .header-image {
                overflow: hidden;
            }
            div {
                &.productPrice {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 5px 10px;
                    background: white;
                    border-left: 1px solid #d2d2d2;
                    border-bottom: 1px solid #d2d2d2;
                    font-size: 20px;
                }
            }
            img {
                &.mat-card-image {
                    max-height: 168px;
                }
            }
            mat-card-actions {
                div {
                    display: block;
                    float: right;
                    margin: 0 5px 0 0;
                    div {
                        display: block;
                        float: left;
                        button {
                            display: block;
                            float: left;
                            color: white;
    
                            &.base-pink {
                                box-shadow: 0 0 10px palevioletred; 
                                background-color: palevioletred;
                            }
                            &.base-grey {
                                box-shadow: 0 0 10px #6f6f6f;
                                background-color: #6f6f6f;
                            }
                            &.base-blue {
                                box-shadow: 0 0 10px blue;
                                background-color: blue;
                            }
                            &.base-wood {
                                box-shadow: 0 0 10px burlywood;
                                background-color: burlywood;
                            }
                            &.base-gold {
                                box-shadow: 0 0 10px goldenrod;
                                background-color: goldenrod;
                            }
                        }
                    }
                }
            }
        }
    }
    &#destinations {
        position: relative;

        @media only screen and (min-width: 320px) {
            top: -400px;
        }
        @media only screen and (min-width: 375px) {
            top: -344px;
        }
        @media only screen and (min-width: 768px) {
            top: -204px;
        }
        @media only screen and (min-width: 1024px) {
            top: -148px;
        }
        @media only screen and (min-width: 1025px) {
            top: -148px;
        }
    }
}