<mat-toolbar (click)="openToolbar($event)" [ngClass]="{'open': toolbarToggler}">
  <span>Tuotteeni</span>
  <div class="toolbar" *ngFor="let toolbarMenu of toolbarMenus; index as i;">
    <div *ngIf="toolbarMenu.level === '1'">
      <button mat-raised-button (click)="openMenu($event)" [matMenuTriggerFor]="menu">{{toolbarMenu.name}}</button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let submenu of toolbarMenus">
          <a *ngIf="toolbarMenu.elementId.split(',').indexOf('' +submenu.idtoolbar) > -1" 
            mat-menu-item
            href="#!{{submenu.url}}">{{submenu.name}}</a>
        </div>
      </mat-menu>
    </div>
  </div>
  <div (click)="openInvoice($event)" [ngClass]="{'open':invoiceOpen}" class="shoppingCart">
      ♽
  </div>
</mat-toolbar>
<app-invoice *ngIf="invoiceOpen" [invoiceId]="0" [billedHours]="0" [customerId]="0" [dataSource]="shoppingCart"></app-invoice>
<app-search></app-search>
<slideshow *ngFor="let slideshow of slideshows" [height]="slideshow.height"
  [autoPlay]="true"
  [showArrows]="slideshow.arrows"
  [showDots]="slideshow.buttons"
  [imageUrls]="slideshow.images.split(',')"
  [autoPlayWaitForLazyLoad]="true">
</slideshow>
<div id="destinations">
  <div class="card-wrapper" *ngFor="let product of products">
    <mat-card class="card base-{{product.color}}" *ngIf="product.elementType === 'card'">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
            <img mat-card-image width="200" src="{{product.image}}" alt="">
        </div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.kohdeCode}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image width="200" src="{{product.image}}" alt="">
      <mat-card-content>
        <h2>Hinta taulukko</h2>
        <table mat-table [dataSource]="product.table" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Pvm. </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Hinta </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} € </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="priceTable"></tr>
          <tr mat-row *matRowDef="let row; columns: priceTable;"></tr>
        </table>
        <br><br>
        {{product.description}}
      </mat-card-content>
      <mat-card-actions>
        <div>
          <div>
            <button class="base-{{product.color}}" mat-raised-button 
            color="primary"  
            *ngIf="product.kohdeTyyppi === 'MAJ'"
            routerLink="/Majoitukset/{{product.kohdeCode}}/{{product.prices[0].date}}/{{product.prices[product.prices.length-1].date}}/{{searchObj.persons}}" routerLinkActive="active">Tutustu</button>
            <button class="base-{{product.color}}" mat-raised-button 
            color="primary"  
            *ngIf="product.kohdeTyyppi === 'AKT'"
            routerLink="/Aktiviteetit//{{product.kohdeCode}}/{{product.prices[0].date}}/{{product.prices[product.prices.length-1].date}}/{{searchObj.persons}}" routerLinkActive="active">Tutustu</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>