.example-container {
    position: absolute;
    width: 100%;
    height: 100%;

  
    .example-sidenav-content {
        display: flex;
        height: 100%;
        position: relative;
        div {
            &.hamburger {
                width: 40px;
                height: 40px;
                border: 1px solid black;
                line-height: 40px;
                font-size: 20px;
                text-align: center;
            }
        }
        mat-toolbar {
            position: absolute;
            top: 0;
            left: 48px;
            width: 93%;
        }
        section {
            position: relative;
            top: 64px;
            display: block;
            float: left;
            width: 90%;
            mat-card {
                display: block;
                float: left;
                width: 40%;
                margin: 2%;
                &.full-width {
                    width: 92%;
                }
            }.example-radio-group {
                display: inline-flex;
                flex-direction: column;
              }
              
              .example-radio-button {
                margin: 5px;
              }
              
              .example-selected-value {
                margin: 15px 0;
              }
            .example-h2 {
                margin: 10px;
              }
              
              .example-section {
                display: flex;
                align-content: center;
                align-items: center;
                height: 60px;
              }
              
              .example-margin {
                margin: 0 10px;
              }
              table {
                width: 100%;
              }
        }
    }

    .example-sidenav {
        padding: 20px;
    }
}