div {
    &.searchToolbar {
        position: relative;
        margin:0 auto;
        width: 958px;
        top: 300px;
        background: rgba(255,255,255, 0.8);
        z-index: 60;
        padding: 40px 40px 40px 60px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border: 1px solid white;

        @media only screen and (min-width: 320px) {
            top: 50px;
            width: 100%;
        }
        @media only screen and (min-width: 375px) {
            top: 50px;
            width: 100%;
        }
        @media only screen and (min-width: 768px) {
            top: 150px;
            width: 100%;
        }
        @media only screen and (min-width: 1024px) {
            top: 300px;
            width: 958px;
        }
        @media only screen and (min-width: 1025px) {
            top: 300px;
            width: 958px;
        }
    }
}