<div class="searchToolbar">
  <form>   
    <mat-form-field>
      <mat-select placeholder="Valitse" (selectionChange)="activities($event)">
        <mat-option value="AKT">Aktiiviteetit</mat-option>
        <mat-option value="MAJ">Majoitukset</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput (dateChange)="changeStartDate($event)" [min]="minDate" [matDatepicker]="picker3" placeholder="Alkupvm">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput (dateChange)="changeEndDate($event)" [min]="minDate2" [matDatepicker]="picker4" placeholder="Loppupvm">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker4></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Henkilömäärä" (selectionChange)="changePersons($event)">
        <mat-option value="1hh">1hh</mat-option>
        <mat-option value="2hh">2hh</mat-option>
        <mat-option value="3hh">3hh</mat-option>
        <mat-option value="4hh">4hh</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-fab color="primary" [ngx-scroll-to]="'#destinations'" (click)="search($event)">Hae</button>
  </form>
</div>