/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
}
* {
    box-sizing: border-box;
}
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

div {
    &.slideshow-container {
        top: -148px;

        @media only screen and (min-width: 320px) {
            top: -400px;
        }
        @media only screen and (min-width: 375px) {
            top: -344px;
        }
        @media only screen and (min-width: 768px) {
            top: -204px;
        }
        @media only screen and (min-width: 1024px) {
            top: -148px;
        }
        @media only screen and (min-width: 1025px) {
            top: -148px;
        }
    }       
}